<div class="container-fluid text-center mt-5">
  <h1>Angular Matches Game</h1>
  <div class="row">
    <div class="col-md-12 mt-5">
      <h2 class="h3 mb-5">Prends la dernière allumette et gagne !</h2>
          <img *ngFor="let item of nrOfMatches" src="assets/images/match.png" alt="lighted match" >
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 mt-5">
        <h2 *ngIf="isPlayerOne && nrOfMatches.length !=0">Jeu:  Player One</h2>
        <h2 *ngIf="!isPlayerOne && nrOfMatches.length !=0">Jeu:  Player Two</h2>
        <p>Choisis le nombre d'allumettes que tu veux enlever</p>
        <form action="#">
          <input type="button" value="1" (click)="onDismissMatches(1)">
          <input type="button" value="2" (click)="onDismissMatches(2)" [disabled]="nrOfMatches.length < 2">
          <input type="button" value="3" (click)="onDismissMatches(3)" [disabled]="nrOfMatches.length < 3">
        </form>
      </div>
    </div>
    <div *ngIf="nrOfMatches.length == 0" class="mt-5 text-center bounce">
      <div *ngIf="!isPlayerOne" class="animate__animated animate__bounce bg bg-success p-3">Le gagnant est : <strong>Player One !</strong></div>
      <div *ngIf="isPlayerOne" class="animate__animated animate__bounce bg bg-success p-3">Le gagnant est : <strong>Player Two !</strong></div>
      <button class="btn btn-info mt-5" (click)="onPlayAgain()">Voulez-vous rejouer une partie ?</button>
    </div>
  </div>

